body {
    font-family: "Roboto", sans-serif;
}

/* Temporary size */
img {
    height: 2rem;
}

/* for visual guidance */
.main-container > * {
    border: 1px solid black;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dashboard {
    grid-row-start: span 3;
    color: white;
    background-color: #1992d4;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.dashboard-logo {
    font-size: larger;
    margin-bottom: 0;
}

/* Selects all SVGs from the dashboard and turns them white */
/* This is probably the easiest way to do this */
.dashboard img[src$=".svg"] {
    filter: invert(1);
    margin-left: 1em;
    margin-right: 0.3em;
}

.main-dashboard-list img, .secondary-dashboard-list img, .searchbar img, .profile-area img {
    height: 1.5rem;
}

.dashboard ul {
    list-style-type: none;
    padding-left: 0;
}

.dashboard-option, .dashboard-logo {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
}

.dashboard-image {
    justify-self: center;
}

.dashboard-option {
    margin-bottom: 5%;
}

.header {
    grid-column-start: 2;
    display: grid;
    align-items: center;
}

.header-top, .header-bottom {
   padding-left: 40px; 
   padding-right: 30px;
}

.header-top {
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-top: 10px;
}

.searchbar {
    display: flex;
    align-items: center;

}

.searchbar img {
    padding-right: 20px;
}

.searchbar input {
    border-radius: 50px; 
    border: 0; 
    background-color: #e1edfa; 
    font-size: 16px; 
    font-family: sans-serif; 
    color: #222222; 
    height: 30px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    width: 80%;
}
  

.profile-area {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    align-items: center;
}

.profile-area .profile-picture {
    height:  40px;
}

.profile-picture {
    border-radius: 100px;
}

.header-bottom {
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.searchbar button, .project-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.user-button {
    background-color: #1992d4;
    border-radius: 100px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 500;  
    padding: 5px 20px;

}

