/* NEED to cleanup this later (˘･_･˘) */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

img {
    height: 2rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dashboard {
    grid-row-start: span 3;
    color: white;
    background-color: #1992d4;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.dashboard-logo {
    font-size: larger;
    margin-bottom: 0;
}

/* Selects all SVGs from the dashboard and turns them white */
/* This is probably the easiest way to do this */
.dashboard img[src$=".svg"] {
    filter: invert(1);
    margin-left: 1em;
    margin-right: 0.3em;
}

.main-dashboard-list img, .secondary-dashboard-list img, .searchbar img, .profile-area img {
    height: 1.5rem;
}

.dashboard ul {
    list-style-type: none;
    padding-left: 0;
}

.dashboard-option, .dashboard-logo {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
}

.dashboard-image {
    justify-self: center;
}

.dashboard-option {
    margin-bottom: 5%;
}

.header {
    grid-column-start: 2;
    display: grid;
    align-items: center;
}

.header-top, .header-bottom {
   padding-left: 40px; 
   padding-right: 30px;
}

.header-top {
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-top: 10px;
}

.searchbar {
    display: flex;
    align-items: center;

}

.searchbar img {
    padding-right: 20px;
}

.searchbar input {
    border-radius: 50px; 
    border: 0; 
    background-color: #e1edfa; 
    font-size: 16px; 
    font-family: sans-serif; 
    color: #222222; 
    height: 30px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    width: 80%;
}
  

.profile-area {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    align-items: center;
}

.profile-area .profile-picture {
    height: 40px;
}

.profile-picture {
    border-radius: 100px;
}

.header-bottom {
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.user-greeting {
    display: inline-flex;
    gap: 15px;
    align-items: center;
}

.user-greeting .profile-picture {
    height: 50%;
}
  
.user-greeting p {
    margin: 0;
    font-weight: bold;
}

/* TODO: Get better class name */
.hi-there {
    font-size: 80%;
}

.searchbar button, .project-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.user-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-button {
    background-color: #1992d4;
    border-radius: 100px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 500;  
    padding: 10px 20px;
}

.content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.your-projects-tab {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 16px;
    padding: 40px 20px;
}

/* It works!! */
.project-item {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "title"
        "description";
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
}

.project-title {
    grid-area: title;
    font-weight: bold;
    margin-bottom: 0;
}

.project-description {
    grid-area: description;
    margin-top: 5px;
    color: grey;
    font-size: 14px;
}

.project-buttons {
    display: flex;
    gap: 10px;
    justify-self: end;
}

.trending-tab {
    grid-column-start: 2;
}

.your-projects-tab .content-title {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    z-index: 1; 
}

.content-title {
    font-weight: bold;
}

/* The announcements tab looks surprisingly good without grid */

.announcement-group, .trending {
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
}

.announcement-title {
    font-weight: bold;
}

.announcement-description {
    font-size: 13px;
    color: grey;
}

.trending {
    display: grid;
    grid-template-columns: 1fr;
}

.trending-projects {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.trending-image {
    border-radius: 100%;
    grid-column-start: 1;
    grid-row-end: span 2;
    height: 50%;
}

.trending-title {
    margin-bottom: 0;
}

.trending-description {
    margin-top: 0;
    color: grey;
}